<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ª</title>
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="css/normalize.css">
</head>
<body>
<header class="hero">
    <nav class="nav conteiner">
        <div class="nav__logo">
            <h2 class="nav__title">Tecnoroom</h2>
        </div>

        <ul class="nav__link nav__link--menu" >
            <li class="nav__items">
                <a href="#" class="nav__links">Categorias</a>
            </li>
            <li class="nav__items">
                <a href="#" class="nav__links">Notebooks</a>
            </li>
            <li class="nav__items">
                <a href="#" class="nav__links">Placas de video</a>
            </li>
            <li class="nav__items">
                <a href="#" class="nav__links">Monitores</a>
            </li>
            <li class="nav__items">
                <a href="#" class="nav__links">Procesadores</a>
            </li>
            <li class="nav__items">
                <a href="#" class="nav__links">PROMOCIONES</a>
            </li>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAVFJREFUSEvVleExBEEQRt9FQAoiQATIgAgQASJABIgAESACZEAEyIAIqKd6qub2Zmen7N4P/eu2dqdf99dfz81YcsyWnJ8+wCpwBOwCG1HEC3APXAGfrYWVAAfABSCkFCY/AW5aIF2Aya/j4ANwCTzF8zZwBmzF8150VOXkACt+i8oPKxUKOQ2Z1obkygHpoJWrfS3syk7Oo6veb3OAQ1wHdjJZ+g4q1yPgmc1aJTngOz5stW7T92MBXxW3/db7V4mc0R3wDChX0wzSkF0mLdgyZPdBKzcBtOk7sBLO0CGlSIV8xJZXt7o70NS6ibWiyZTBUAr9nyQZtGh3Bqlat9m27aQUDtb3wrSpv2/7NKpddsexcO6G8RpXgwmVJe2N77yX3P6FaPV86Wx+b/VCxgBS0v2MvtDJWMAgZApAFzJ3E08FSBCtPfdHNCWg6NT/D/gBeOVFGZeTouUAAAAASUVORK5CYII="/>

            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAf5JREFUSEu1ldtRG1EQRI8iwI7AOAJwBJgIgAwgAiACmwiACCADIAJwBNgRGGdgR2DqqG5vja5Wi/jQVOlDuzPTPT2PnbFhm204P+sAfAX2gN32k9PP9nsCfkyRnALYBm4AAaZMkBPgZcxpFcAZ8A34APwBbgETyVyzGoGPgU/AX+A7cN2DjAGY/LI5GmCgCcZMAr4/bS/Pgavq2AMoy3NjfgTcN2efCxq5rMZkkeUQuGtEvlS5egADbajMrUSroJWcVdVkMrcSc+zHsQKEhZqrcWSxioMGmvIFN9kDYJymXPbInggg0MKYqqWNvWi6hoRAW8DnUrpV/W4kPpaylnLUCiLPgN4CpwD+NebBiApDZRUgiWRUpyYSKU/GUHmUqUqUflmZzbfiBYn+Nxo9gHKorTJVk729qgsW6YbctQKT7NQGlWwGWkEdUyvotzcSeT7mvhUgUvRN1k+mggukmfhX2exwSZNHexB0g51v+2DiumCdSvNRzB1yTF1SSQxL2i+ayZ3jnAgbZqAmq3qL3A1NIjY0J8M9SqVL51rdHlug7PzfL16qqIsVX98tjPnYscvKJ1G/F1WmyJpnS/1bda49w34L0lBBlShTowRK5CRFDnvhWV+wqQ+O8qirx2/KHEn95rfnPQDxFUgpxj6ZjvZo4gSv801+o4Dp1xsHeAUVx38ZYm993QAAAABJRU5ErkJggg=="/>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAPlJREFUSEvNlNsVwUAQhr9UQAlUgA6ogA7wygM6oAJeeEUF6IAKUAEqQAWccZKcuCQ7SaxjXufy7b//zjpYDsfyfH4KuLlqLsAM6H1DXVCBB/DmVoB1WsinK+oCQ2AF1GwAssDZHZwHjmkgYSaLB/UUg3dASfrDAEVgmwJwAnJRAMnJKQoJIQOgbwI0gGlCgO+dadFkJzIxIRug7PWYACOgExPQdBf10WYCiFGHGICra64oVwGkaAlUlZA5IN75YVIghbLNCyXg7XvRALRPdg/I/jyFFqAU8F6mBYyBFjAB2i9jonLGV+TNCn7lr4eKyqkB1hVY9+B/AXdYBygZk/eVswAAAABJRU5ErkJggg=="/>
        </ul>
    </nav>



</header>
<main>
    <section class="hero__conteiner conteiner">
        <h1 class="hero__title"> Titulo grande, el pricipal que usa mas esacio </h1>
        <p class="hero__parrafo">Este es el titulo un poco mas chiquito tipo subtitulo xd</p>
        <a href="#" class="cta">Apreta el boton</a>
    </section>

    <section class="conteiner about">
        <h2 class="subtitle">Subtitulo de la secciom dos xd</h2>
        <p class="about__parrafo">Parrafo Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum, consequatur obcaecati velit vero ut molestias, ab exercitationem natus eveniet, quo corrupti nihil eos. Sit, molestias consequatur exercitationem voluptatibus voluptate consectetur.</p>
        <div class="about__main">
            <article class="about__icons">
                <img src="./img/codearrog.svg" class="icon">
                <h3 class="about__title">Titulo de articulo </h3>
                <p class="about__parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium accusantium veniam inventore consequuntur.
                </p>
            </article>
            <article class="about__icons">
                <img src="./img/dataarrow.svg" class="icon">
                <h3 class="about__title">Titulo de articulo 2 </h3>
                <p class="about__parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium accusantium veniam inventore consequuntur.
                </p>
            </article>
            <article class="about__icons">
                <img src="./img/visualarrow.svg" class="icon">
                <h3 class="about__title">Titulo de articulo 3</h3>
                <p class="about__parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium accusantium veniam inventore consequuntur.
                </p>
            </article>
        </div>
    </section>
    <section class="seccion">
        <div class="seccion__conteiner conteiner">
            <div class="seccion__text">
                <h2 class="subtitle">titulo de l parte de abajo ooooooooooo </h2>
                <p class="seccion__parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium optio harum voluptas perferendis consequatur nostrum provident pariatur quod at quibusdam? Quod nam commodi hic reprehenderit iure fugiat facilis, nihil accusamus.</p>
                <a href="#" class="cta">click aqui</a>
            </div>
            <figure class="seccion__picture">
                <img src="./img/samantha-borges-gXsJ9Ywb5as-unsplash.jpg" class="seccion__img">
            </figure>
        </div>
    </section>
    <section class="price conteiner">
        <h2 class="subtitle">titulo de marketing</h2>
        <div class="price__table">
            <div class="price__element">
                <p class="price__name">plan 1</p>
                <h3 class="price__price">gratis</h3>
                <div class="price__items">
                    <p class="price__features">xs</p>
                    <p class="price__features">xss</p>
                    <p class="price__features">xxxsss</p>
                </div>
                <a href="#" class="price__cta">comprar</a>
            </div>
            <div class="price__element price__element--best">
                <p class="price__name">plan 2</p>
                <h3 class="price__price">30 peso</h3>
                <div class="price__items">
                    <p class="price__features">xs</p>
                    <p class="price__features">xss</p>
                    <p class="price__features">xxxsss</p>
                </div>
                <a href="#" class="price__cta">comprar</a>
            </div>
            <div class="price__element">
                <p class="price__name">plan 3</p>
                <h3 class="price__price">50 peso</h3>
                <div class="price__items">
                    <p class="price__features">xs</p>
                    <p class="price__features">xss</p>
                    <p class="price__features">xxxsss</p>
                </div>
                <a href="#" class="price__cta">comprar</a>
            </div>
        </div>
    </section>

    <section class="testimony">
        <div class="testimony__conteiner conteiner">
            <img src="./img/leftarrow.svg" class="testimony__arrow " id="before">
            <section class="testimony__body testimony__body--show" data-id="1">
                <div class="testimony__text">
                    <h2 class="subtitle"> Subtitulo XD <samp class="testimony__course">Persona XD</samp></h2>
                    <p class="testimony__review">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim quidem
                        facere odit amet obcaecati harum voluptatibus laudantium, recusandae consectetur a laboriosam
                        quibusdam, officiis inventore corporis quaerat fuga molestiae blanditiis ratione.</p>
                </div>
                <figure class="testimony__figure">
                    <img src="./img/istockphoto-867255352-1024x1024.jpg" class="testimony__img">
                </figure>
            </section>
            <section class="testimony__body" data-id="2">
                <div class="testimony__text">
                    <h2 class="subtitle"> subtitulo xd <samp class="testimony__course">persona xs</samp></h2>
                    <p class="testimony__review">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim quidem facere
                        odit amet obcaecati harum voluptatibus laudantium, recusandae cone.</p>
                </div>
                <figure class="testimony__figure">
                    <img src="./img/istockphoto-867253142-1024x1024.jpg" class="testimony__img">
                </figure>
            </section>
            <section class="testimony__body" data-id="3">
                <div class="testimony__text">
                    <h2 class="subtitle"> subtitulo xd <samp class="testimony__course">persona xs</samp></h2>
                    <p class="testimony__review">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim quidem facere
                        odit amet obcaecati harum voluptatibus laudantium, recusandae cone.</p>
                </div>
                <figure class="testimony__figure">
                    <img src="./img/62806.png" class="testimony__img">
                </figure>
            </section>
            <img src="./img/right2.svg" class="testimony__arrow " id="next">
        </div>
    </section>
</main>
<footer class="footer">
    <section class="footer__conteiner conteiner">
        <nav class="nav nav--footer">
            <h2 class="footer__title">titulo de abajo</h2>
            <ul class="nav__link nav__link--footer">
                <li class="nav__items">
                    <a href="#" class="nav__links">inicio</a>
                </li>
                <li class="nav__items">
                    <a href="#" class="nav__links">acerca de</a>
                </li>
                <li class="nav__items">
                    <a href="#" class="nav__links">contacto</a>
                </li>
                <li class="nav__items">
                    <a href="#" class="nav__links">blog</a>
                </li>

            </ul>
        </nav>
        <form class="footer__form">
            <h2 class="footer__titulo">suscribite xd</h2>
            <div class="footer__inputs">
                <input type="email" placeholder="Email:" class="footer__input">
                <input type="submit" value="Registrate" class="footer__submit">
            </div>
        </form>
    </section>
    <section class="footer__copy conteiner">
        <div class="footer__social">
            <a href="#" class="footer__icons"><img src="./img/facebook.svg"  class="footer__img"> </a>
            <a href="#" class="footer__icons"><img src="./img/ig.svg"  class="footer__img"> </a>
            <a href="#" class="footer__icons"><img src="./img/tw.svg"  class="footer__img"> </a>
        </div>
        <h3 class="footer__copyright">derechos reservados &copy; Exequiel Valdivia</h3>
    </section>
</footer>


<script src="./js/slider.js"></script>
<script src="./js/menu.js"></script>
</body>
</html>